.sub-map-grid {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 180px 180px;
    gap: var(--card-gap);
    align-items: stretch;
}

.item-spawner-card {
    grid-column: 1;
    grid-row: 2;
}

.auto-restarter-card {
    grid-column: 2;
    grid-row: 2;
}

.hotkey-card {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.inventory-card {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.cheats-card {
    grid-column: 1 / span 3;
    grid-row: 3;
}