body {
    font-family: Arial, sans-serif;
    background: #222;
    color: #eee;
}

#app {
    padding: 20px;
}

h1 {
    color: #00bcd4;
}

pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.minimap-container {
    max-width: 1000px;
    border: 1px solid #555;
    background: #111;
    min-height: 50px;
    margin-bottom: 20px;
}

#minimap-canvas {
    width: 100%;
    display: block;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    transform: scaleY(-1);
}